body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #100d0d;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
  border: 1px solid #8c8080;
  padding: 10px;
  min-width: 100px;
}

th {
  background: #f8f8f8;
  font-weight: bold;
}

.math { background-color: #f4cccc; }       
.oopl { background-color: #f9cb9c; }       
.web { background-color: #cfe2f3; }       
.eeelab { background-color: #fff2cc; }     
.a1 { background-color: #ffe599; }        
.a2 { background-color: #b6d7a8; }         
.drawing { background-color: #ffe599; }    
.bshc { background-color: #d9d2e9; }       
.eee { background-color: #9fc5e8; }       
.discrete { background-color: #ea9999; }   

